---
import ArticleTarjetasGrandes from "../ArticleTarjetasGrandes.astro";
import Section from "../Section.astro";

const propsTarjetasGrandes = [
  {
    titulo: "HandyPro",
    img: "/proyectos/handyPro.webp",
    descripcion:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia saepe voluptatum nemo nulla. Sit, pariatur? Asperiores consequatur",
    skills: ["skill1", "skill2", "skill3", "skill4"],
    deploy: "https://www.youtube.com/watch?v=IgABM_Klb1o",
    code: "https://github.com/Nahuel417/handypro-back",
  },
  {
    titulo: "PadelSport",
    img: "/proyectos/padelSport.webp",
    descripcion:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia saepe voluptatum nemo nulla. Sit, pariatur? Asperiores consequatur",
    skills: ["skill1", "skill2", "skill3", "skill4"],
    deploy: "https://youtu.be/EkI8Z0UtpQE",
    code: "https://github.com/Nahuel417/PadelSport",
  },
];
---

<Section>
  <div class="contenedor-proyectos">
    <div class="titulo">
      <h1>Proyectos</h1>
      <i class="bi bi-terminal"></i>
    </div>
    <!-- <i class="bi bi-star-half"></i> -->
    <div class="contenedor-grande-tarjetas">
      <ArticleTarjetasGrandes
        titulo={propsTarjetasGrandes[0].titulo}
        img={propsTarjetasGrandes[0].img}
        descripcion={propsTarjetasGrandes[0].descripcion}
        skills={propsTarjetasGrandes[0].skills}
        deploy={propsTarjetasGrandes[0].deploy}
        code={propsTarjetasGrandes[0].code}
      />

      <ArticleTarjetasGrandes
        titulo={propsTarjetasGrandes[1].titulo}
        img={propsTarjetasGrandes[1].img}
        descripcion={propsTarjetasGrandes[1].descripcion}
        skills={propsTarjetasGrandes[1].skills}
        deploy={propsTarjetasGrandes[1].deploy}
        code={propsTarjetasGrandes[1].code}
      />
    </div>

    <div class="contenedor-chico-tarjetas">
      <article>
        <h2>titulo</h2>
        <p>descripcion</p>
        <div class="caja-skills-2">
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
        </div>
      </article>

      <article>
        <h2>titulo</h2>
        <p>descripcion</p>
        <div class="caja-skills-2">
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
        </div>
      </article>

      <!-- <article>
        <h2>titulo</h2>
        <p>descripcion</p>
        <div class="caja-skills-2">
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
        </div>
      </article>

      <article>
        <h2>titulo</h2>
        <p>descripcion</p>
        <div class="caja-skills-2">
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
        </div>
      </article> -->
    </div>
  </div>
</Section>

<style>
  .contenedor-proyectos {
    display: flex;
    flex-direction: column;
  }

  .titulo {
    display: flex;
    align-items: stretch;
    gap: 8px;
  }

  .titulo h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
  }

  .titulo i {
    color: rgba(255, 255, 255, 0.9);
    margin-left: 5px;
    font-size: 35px;
  }

  .contenedor-grande-tarjetas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }

  .contenedor-chico-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
  }

  .contenedor-chico-tarjetas article {
    width: 47%;
    /* margin-bottom: 25px; */
    border: 1px solid;
    padding: 30px;
    border-radius: 10px;
  }

  .contenedor-chico-tarjetas article h2 {
    color: rgba(255, 255, 255, 0.9);
  }
</style>
