---
import ArticleTarjetasChicas from "../ArticleTarjetasChicas.astro";
import ArticleTarjetasGrandes from "../ArticleTarjetasGrandes.astro";
import Section from "../Section.astro";

const propsTarjetasGrandes = [
  {
    titulo: "HandyPro",
    img: ["/proyectos/handyPro1.webp"],
    descripcion:
      "Plataforma que conecta profesionales con clientes mediante solicitudes de trabajo, donde los profesionales se postulan y los clientes eligen al candidato ideal.",
    skills: ["TypeScript", "NestJs", "AWS", "PostgresDB"],
    deploy: "https://www.youtube.com/watch?v=IgABM_Klb1o",
    code: "https://github.com/Nahuel417/handypro-back",
    desarrollo: "Backend",
  },
  {
    titulo: "PadelSport",
    img: ["/proyectos/padelSport1.webp"],
    descripcion:
      "Gestor de turnos diseñado para organizar citas de manera eficiente, permitiendo a los usuarios programar, modificar o cancelar turnos según sus necesidades.",
    skills: ["JavaScript", "TypeScript", "ReactJS", "PostgresDB"],
    deploy: "https://youtu.be/EkI8Z0UtpQE",
    code: "https://github.com/Nahuel417/PadelSport",
    desarrollo: "Fullstack",
  },
];

const propsTarjetasChicas = [
  {
    titulo: "E-commerce API",
    descripcion:
      "E-commerce de tecnología para jóvenes y adultos, diseñado para ser intuitivo y atractivo.",
    skills: ["TypeScript", "NestJs", "PostgresDB", "Docker"],
    code: "https://github.com/Nahuel417/E-commerce-Api",
    deploy: "https://ecommerce-api-mbho.onrender.com/api",
    desarrollo: "Backend",
  },
  {
    titulo: "InnovatechShop",
    descripcion:
      "API para e-commerce, abarca la gestión de productos, autenticación de usuarios y manejo de pedidos.",
    skills: ["JavaScript", "ReactJS", "Express", "MySQL"],
    code: "https://github.com/Nahuel417/InnovatechShop",
    deploy: "",
    desarrollo: "Fullstack",
  },
];
---

<Section>
  <div class="contenedor-proyectos">
    <div class="titulo">
      <h2>Proyectos</h2>
      <i class="bi bi-terminal"></i>
    </div>

    <div class="contenedor-grande-tarjetas">
      {
        propsTarjetasGrandes.map((tarjeta, i) => (
          <ArticleTarjetasGrandes
            key={i}
            titulo={tarjeta.titulo}
            img={tarjeta.img}
            descripcion={tarjeta.descripcion}
            skills={tarjeta.skills}
            deploy={tarjeta.deploy}
            code={tarjeta.code}
            desarrollo={tarjeta.desarrollo}
          />
        ))
      }
    </div>

    <div class="contenedor-chico-tarjetas">
      {
        propsTarjetasChicas.map((tarjeta, i) => (
          <ArticleTarjetasChicas
            key={i}
            titulo={tarjeta.titulo}
            descripcion={tarjeta.descripcion}
            skills={tarjeta.skills}
            deploy={tarjeta.deploy}
            code={tarjeta.code}
            desarrollo={tarjeta.desarrollo}
          />
        ))
      }
    </div>
  </div>
</Section>

<style>
  .contenedor-proyectos {
    display: flex;
    flex-direction: column;
  }

  .titulo {
    display: flex;
    gap: 8px;
  }

  .titulo h2 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
  }

  .titulo i {
    color: rgba(255, 255, 255, 0.9);
    margin-left: 5px;
    font-size: 30px;
  }

  .contenedor-grande-tarjetas {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    padding: 0px 10px;
  }

  .contenedor-chico-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 10px;
  }

  /*  MEDIA QUERIES  */
  @media (max-width: 768px) {
    .contenedor-grande-tarjetas {
      justify-content: space-between;
      padding: 0;
      gap: 30px;
    }

    .contenedor-chico-tarjetas {
      flex-direction: column;
      gap: 20px;
      padding: 0;
    }
  }
</style>
