---
import Javascript from "./svgs/JS.astro";
import TypeScript from "./svgs/TS.astro";
import PostgreSQL from "./svgs/Postgres.astro";
import NestJS from "./svgs/Nest.astro";
import Stripe from "./svgs/Stripe.astro";
import Docker from "./svgs/Docker.astro";
import JWT from "./svgs/JWT.astro";
import React from "./svgs/React.astro";
import ReactRouter from "./svgs/ReactRouter.astro";
import Vite from "./svgs/Vite.astro";
import Bootstrap from "./svgs/Bootstrap.astro";
import TypeORM from "./svgs/TypeORM.astro";
import AWS from "./svgs/AWS.astro";
import Swagger from "./svgs/Swagger.astro";
import Cloudinary from "./svgs/Cloudinary.astro";
import Express from "./svgs/Express.astro";
import MySQL from "./svgs/MySQL.astro";
import Sequelize from "./svgs/Sequelize.astro";

interface Props {
  key?: number;
  titulo?: string;
  descripcion?: string;
  skills?: string[];
  deploy?: string;
  code?: string;
  desarrollo?: string;
}

const { titulo, descripcion, skills, deploy, code, desarrollo } = Astro.props;
---

<article>
  <div class="caja-titulo">
    <h2>{titulo}</h2>
    <h5>{desarrollo}</h5>
  </div>
  <p>{descripcion}</p>
  <div class="caja-skills-2">
    {
      skills?.map((skill) =>
        skill === "JavaScript" ? (
          <Javascript />
        ) : skill === "TypeScript" ? (
          <TypeScript />
        ) : skill === "NestJs" ? (
          <NestJS />
        ) : skill === "PostgresDB" ? (
          <PostgreSQL />
        ) : skill === "Stripe" ? (
          <Stripe />
        ) : skill === "Docker" ? (
          <Docker />
        ) : skill === "JWT" ? (
          <JWT />
        ) : skill === "ReactJS" ? (
          <React />
        ) : skill === "ReactRouter" ? (
          <ReactRouter />
        ) : skill === "Vite" ? (
          <Vite />
        ) : skill === "Bootstrap" ? (
          <Bootstrap />
        ) : skill === "TypeORM" ? (
          <TypeORM />
        ) : skill === "AWS" ? (
          <AWS />
        ) : skill === "Cloudinary" ? (
          <Cloudinary />
        ) : skill === "Swagger" ? (
          <Swagger />
        ) : skill === "Express" ? (
          <Express />
        ) : skill === "MySQL" ? (
          <MySQL />
        ) : skill === "Sequelize" ? (
          <Sequelize />
        ) : (
          ""
        ),
      )
    }
    <a href="#skills">
      <i class="bi bi-plus-circle-fill more"></i>
    </a>
  </div>
  <div class="caja-enlaces">
    <a href={code} target="_blank"><i class="bi bi-terminal-fill"></i> </a>
    <a href={deploy} target="_blank"
      ><i class="bi bi-browser-chrome google"></i>
    </a>
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    width: 47%;
    border: 2px solid rgba(203, 213, 225, 0.2);
    padding: 30px 20px 15px 30px;
    border-radius: 10px;
    gap: 10px;
    transition: all 0.3s;
  }

  .caja-titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .caja-titulo h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
  }

  .caja-titulo h5 {
    border: 2px solid rgba(99, 101, 241, 0.6);
    border-radius: 30px;
    padding: 0px 8px;
    font-size: 12px;
  }

  article p {
    color: rgba(203, 213, 225, 0.6);
  }

  article:hover {
    border-color: rgba(203, 213, 225, 0.7);
    transform: translateX(-14px) translateY(-14px);
    -webkit-box-shadow: 14px 14px 0px 0px #404c61;
    -moz-box-shadow: 14px 14px 0px 0px #404c61;
    box-shadow: 14px 14px 0px 0px #404c61;
    cursor: default;
  }

  article:hover .caja-titulo h2 {
    color: rgba(255, 255, 255, 1);
  }

  .caja-skills-2 {
    display: flex;
    gap: 8px;
  }

  .caja-skills-2 i.more {
    font-size: 22px;
    color: #404c61;
    transition: all 0.5s;
  }

  article:hover a i.more {
    color: #404c61;
  }

  .caja-skills-2 a {
    margin-left: 10px;
  }

  .caja-skills-2 a:hover i.more {
    color: rgba(255, 255, 255, 0.7);
  }

  .caja-enlaces {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: 30px;
  }

  article:hover .caja-enlaces a i {
    color: rgba(209, 215, 224, 0.6);
  }

  .caja-enlaces a {
    transition: all 0.4s;
  }

  .caja-enlaces a:hover {
    transform: translateY(-5px);
  }

  article .caja-enlaces a:hover i {
    color: white;
  }

  .caja-enlaces a i {
    font-size: 20px;
    color: transparent;
    transition: all 0.3s ease-in;
  }
</style>
