---
interface Props {
  titulo?: string;
  img?: string[];
  descripcion?: string;
  skills?: string[];
  deploy?: string;
  code?: string;
}

const { titulo, img, descripcion, skills, deploy, code } = Astro.props;
---

<article>
  <div class="tarjeta">
    <div class="caja-img">
      <!-- <img src={img} alt="handyPro" /> -->

      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {
            img?.map((imagen) => (
              <div class="swiper-slide">
                <img src={imagen} alt="" />
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <div class="caja-info">
      <h2>{titulo}</h2>
      <p>{descripcion}</p>
      <div class="caja-skills">
        {skills?.map((skill) => <span>{skill}</span>)}
      </div>
      <div class="caja-boton-deploy">
        <a href={deploy} target="_blank"
          >Enlace <i class="bi bi-browser-chrome"></i></a
        >
        <a href={code} target="_blank"
          >Code <i class="bi bi-terminal-fill"></i></a
        >
      </div>
    </div>
  </div>

  <script type="module">
    import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

    const swiper = new Swiper(".swiper", {
      // Optional parameters
      direction: "horizontal",
      loop: false,
      effect: "cards",
      perSlideOffset: 3,
    });
  </script>
</article>

<style>
  .tarjeta {
    display: flex;
    gap: 10%;
    align-items: center;
  }

  .caja-img {
    width: 350px;
    height: 250px;
  }

  .caja-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .caja-info {
    display: flex;
    flex-direction: column;

    gap: 8px;
    margin-bottom: 15px;
  }

  .caja-info h2 {
    color: rgba(255, 255, 255, 0.9);
  }

  .caja-info p {
    color: rgba(203, 213, 225, 0.6);
  }

  .caja-boton-deploy {
    display: flex;
    gap: 10px;
  }

  .caja-boton-deploy a {
    color: black;
    background-color: #fff;
    padding: 10px 16px;
    text-align: center;
    border-radius: 8px;
  }
  .caja-boton-deploy a i {
    color: black;
    margin-left: 5px;
    font-size: 17px;
  }

  /* .caja-boton-deploy a:hover,
  .caja-boton-deploy a:hover i {
    background-color: black;
    color: #fff;
  } */

  .swiper {
    width: 100%;
    height: 100%;
  }
</style>
