---
import Javascript from "./svgs/JS.astro";
import TypeScript from "./svgs/TS.astro";
import PostgreSQL from "./svgs/Postgres.astro";
import NestJS from "./svgs/Nest.astro";
import Stripe from "./svgs/Stripe.astro";
import Docker from "./svgs/Docker.astro";
import JWT from "./svgs/JWT.astro";
import React from "./svgs/React.astro";
import ReactRouter from "./svgs/ReactRouter.astro";
import Vite from "./svgs/Vite.astro";
import Bootstrap from "./svgs/Bootstrap.astro";
import TypeORM from "./svgs/TypeORM.astro";
import AWS from "./svgs/AWS.astro";

interface Props {
  key?: number;
  titulo?: string;
  img?: string[];
  descripcion?: string;
  skills?: string[];
  deploy?: string;
  code?: string;
  desarrollo?: string;
}

const { titulo, img, descripcion, skills, deploy, code, desarrollo } =
  Astro.props;
---

<article>
  <div class="tarjeta">
    <div class="caja-img">
      {img?.map((imagen) => <img src={imagen} alt="" />)}
    </div>

    <div class="caja-info">
      <div class="caja-titulo">
        <h2>{titulo}</h2>
        <h5>{desarrollo}</h5>
      </div>
      <p>{descripcion}</p>
      <div class="caja-skills">
        {
          skills?.map((skill) =>
            skill === "JavaScript" ? (
              <Javascript />
            ) : skill === "TypeScript" ? (
              <TypeScript />
            ) : skill === "NestJs" ? (
              <NestJS />
            ) : skill === "PostgresDB" ? (
              <PostgreSQL />
            ) : skill === "Stripe" ? (
              <Stripe />
            ) : skill === "Docker" ? (
              <Docker />
            ) : skill === "JWT" ? (
              <JWT />
            ) : skill === "ReactJS" ? (
              <React />
            ) : skill === "ReactRouter" ? (
              <ReactRouter />
            ) : skill === "Vite" ? (
              <Vite />
            ) : skill === "Bootstrap" ? (
              <Bootstrap />
            ) : skill === "TypeORM" ? (
              <TypeORM />
            ) : skill === "AWS" ? (
              <AWS />
            ) : (
              ""
            ),
          )
        }
        <span class="puntos-suspensivos">...</span><a href="#skills">
          <i class="bi bi-plus-circle-fill"></i>
        </a>
      </div>
      <div class="caja-boton-deploy">
        <a href={code} target="_blank">
          Code <i class="bi bi-terminal-fill"></i>
        </a>
        <a href={deploy} target="_blank">
          Enlace <i class="bi bi-browser-chrome google"></i>
        </a>
      </div>
    </div>
  </div>
</article>

<style>
  .tarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
  }

  .swiper-slide {
    border-radius: 8px;
  }

  .caja-img {
    width: 47%;
    height: 100%;
    border-radius: 8px;
  }

  .caja-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all 0.5s;
  }

  .caja-img:hover img {
    transform: translateX(-14px) translateY(-14px);
    -webkit-box-shadow: 14px 14px 0px 0px #404c61;
    -moz-box-shadow: 14px 14px 0px 0px #404c61;
    box-shadow: 14px 14px 0px 0px #404c61;
  }

  .caja-info {
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
  }

  .caja-titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .caja-titulo h2 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
  }

  .caja-titulo h5 {
    border: 2px solid rgba(99, 101, 241, 0.6);
    border-radius: 30px;
    padding: 0px 8px;
    font-size: 12px;
  }

  .caja-info p {
    color: rgba(203, 213, 225, 0.6);
  }

  .caja-skills {
    display: flex;
    gap: 8px;
  }

  .caja-skills span.puntos-suspensivos {
    position: relative;
    top: 6px;
    right: 5px;
  }

  .caja-skills i {
    font-size: 22px;
    color: #404c61;
    transition: all 0.5s;
  }

  .caja-skills a:hover i {
    color: rgba(255, 255, 255, 0.7);
  }

  .caja-boton-deploy {
    display: flex;
    gap: 20px;
    margin-top: 5px;
  }

  .caja-boton-deploy a {
    color: rgba(22, 30, 45, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 16px;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s;
    -webkit-box-shadow: 7px 7px 0px 0px #404c61;
    -moz-box-shadow: 7px 7px 0px 0px #404c61;
    box-shadow: 7px 7px 0px 0px #404c61;
  }

  .caja-boton-deploy a i {
    color: rgba(22, 30, 45, 0.8);
    margin-right: 5px;
    font-size: 17px;
    transition: all 0.3s;
  }

  .caja-boton-deploy a:hover {
    color: #161e2d;
    transform: translateY(5px);
    box-shadow: none;
  }

  .caja-boton-deploy a:hover i {
    color: #161e2d;
  }

  .caja-boton-deploy a:hover i.google {
    margin-left: 10px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
</style>
